.App .body {
  background: linear-gradient(to bottom, #7ac4d3 0%, #f7f5ef 100%);
  border-radius: 40px;
  display: block;
  font-family: "Poppins", sans-serif;
  margin: 30px auto;
  max-width: 800px;
  padding: 30px;
  text-align: center;
}

.App hr {
  color: #1f91a8;
  margin: 25px 0;
}
