.CurrentWeather {
  font-size: 15px;
  margin: 0 auto;
  max-height: 140px;
  text-transform: lowercase;
}

.CurrentWeather .current-weather-image {
  display: block;
  left: 230px;
  max-width: 160px;
  position: relative;
  top: -30px;
}

.CurrentWeather ul {
  padding: 0;
}

.CurrentWeather li {
  display: block;
  font-weight: 300;
  margin-left: 50px;
  text-align: left;
}
