.CurrentTemp .current-temp-container {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 150px;
  padding-bottom: 15px;
}
.current-temp {
  color: #2a2a2a;
  display: block;
  font-size: 90px;
  font-weight: 500;
  margin: 0 auto;
}

.fahrenheit,
.celsius {
  border: none;
  cursor: pointer;
  left: 90px;
  position: relative;
  text-decoration: none;
  top: -90px;
  transition: all 150ms ease-in-out;
}

.active-link {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}
.active-link:hover {
  color: #000;
  cursor: default;
}
.non-active-link {
  color: #848282;
  font-size: 18px;
  font-weight: 300;
}
.non-active-link:hover {
  color: #000;
  font-size: 22px;
}

.CurrentTemp .current-weather-image {
  display: block;
  left: 230px;
  max-width: 160px;
  position: relative;
  top: -30px;
}

.CurrentTemp ul {
  font-size: 15px;
  margin: 0 auto;
  max-height: 140px;
  text-transform: lowercase;
  padding: 0;
}

.CurrentTemp li {
  display: block;
  font-weight: 300;
  margin-left: 50px;
  text-align: left;
}
